@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TechBrain Przemyslaw Chmielecki</h1>
    <p>This is a sample page in .NET Core 8.0 deployed via VSCode</p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>